% rebase("_base.html")
<h3>
    {{igra.stanje()}}
</h3>

<form action="/povisaj/" method="POST">
    <input type="number" name="koliko">
    <input type="submit" value="POVISAJ">
</form>

% if igra.resnicni_igralec.razlika_za_klicat == 0:
<form action="/check/" method="POST">
    <input type="submit" value="CHECK">
</form>
% end

% if igra.resnicni_igralec.razlika_za_klicat > 0:
<form action="/klici/" method="POST">
    <input type="submit" value="KLICI">
</form>
% end

<form action="/odstopi/" method="POST">
    <input type="submit" value="FOLD">
</form>