%rebase("_base.html")


% if not igra.resnicni_igralec.fold:
<form style="position: fixed; margin-top: 549px; margin-left: 1225px;" action="/povisaj/" method="POST">
    <button class="btn btn-success btn-lg" type="submit">RAISE</button>
    <input style="width: 100px; height: 45px; margin-left: 10px;" type="number" name="koliko"
        value={{igra.resnicni_igralec.razlika_za_klicat + 1}}>
</form>
% end


% if igra.resnicni_igralec.razlika_za_klicat == 0 and not igra.resnicni_igralec.fold:
<form style="position: fixed; margin-top: 550px; margin-left: 1100px;" action="/check/" method="POST">
    <button class="btn btn-success btn-lg" type="submit">CHECK</button>
</form>
% end

% if igra.resnicni_igralec.razlika_za_klicat > 0 and not igra.resnicni_igralec.fold:
<form style="position: fixed; margin-top: 550px; margin-left: 1090px;" action="/klici/" method="POST">
    <button class="btn btn-success btn-lg" type="submit">CALL {{igra.resnicni_igralec.razlika_za_klicat}}</button>
</form>
% end

% if not igra.resnicni_igralec.fold:
<form action="/odstopi/" method="POST">
    <button style="position: fixed; margin-top: 550px; margin-left: 980px;" class="btn btn-danger btn-lg"
        type="submit">FOLD</button>
</form>
% end

% if igra.resnicni_igralec.fold:
<form action="/nadaljuj_s_krogom/" method="POST">
    <input class="btn btn-primary" type="submit" value="nadaljuj s stavami">
</form>
% end