% rebase("_base.html")


<b style="color:whitesmoke">
    {{igra.stanje()}}
    =================
</b>


% if not igra.resnicni_igralec.fold:
<form action="/povisaj/" method="POST">
    <input type="number" name="koliko" value={{igra.resnicni_igralec.razlika_za_klicat}}>
    <input type="submit" value="POVISAJ">
</form>
% end


% if igra.resnicni_igralec.razlika_za_klicat == 0 and not igra.resnicni_igralec.fold:
<form action="/check/" method="POST">
    <input type="submit" value="CHECK">
</form>
% end

% if igra.resnicni_igralec.razlika_za_klicat > 0 and not igra.resnicni_igralec.fold:
<form action="/klici/" method="POST">
    <input type="submit" value="KLICI">
</form>
% end

% if not igra.resnicni_igralec.fold:
<form action="/odstopi/" method="POST">
    <input type="submit" value="FOLD">
</form>
% end

% if igra.resnicni_igralec.fold:
<form action="/nadaljuj_s_krogom/" method="POST">
    <input type="submit" value="nadaljuj s stavami">
</form>
% end