% rebase("_base.html")

% if igra.resnicni_igralec.žetoni == 0:

<p style="color:whitesmoke">
    Žal ste izgubili vse žetone. Če se želite še enkrat pomeriti, kliknite na "ZAČNI PONOVNO".
</p>

% elif len(igra.igralci) == 1:

<p style="color:whitesmoke">
    Čestitamo {{ime}}! Premagali ste vse igralce. Če želite odigrati še eno igro, kliknite na "ZAČNI PONOVNO".
</p>

% end

<form action="/prekini_igro/" method="POST">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">ZAČNI PONOVNO</button>
</form>